$play-pause-size: 30px;
$dark-color: #202020;
$medium-color: #404040;
$light-color: #a0a0a0;

.session-controls {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  .play-pause-btn {
    cursor: pointer;
    width: $play-pause-size;
    height: $play-pause-size;
    box-sizing: border-box;
    border-style: solid;
    border-width: calc($play-pause-size / 2) 0px calc($play-pause-size / 2)
      $play-pause-size;
    border-color: transparent transparent transparent $dark-color;
    transition: all 100ms ease-in-out;

    &.pause {
      border-style: double;
      border-width: 0px 0px 0px calc($play-pause-size);
    }

    &:hover {
      border-color: transparent transparent transparent $medium-color;
    }
  }

  .stop-btn {
    cursor: pointer;
    width: $play-pause-size;
    height: $play-pause-size;
    background: $dark-color;
    transition: all 100ms ease-in-out;
    margin-left: 1rem;
    margin-right: 2rem;

    &:hover {
      background: $medium-color;
    }
  }

  .track-container {
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;

    .track-background,
    .track-foreground {
      position: absolute;
      height: 100%;
      border-radius: 5px;
    }

    .track-background {
      width: 100%;
      background: $light-color;
    }

    .track-foreground {
      background: $dark-color;
    }

    .track-dot {
      position: absolute;
      width: calc($play-pause-size/2);
      height: calc($play-pause-size/2);
      border-radius: 50%;
      background: $light-color;
      border: 4px solid $dark-color;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
